* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    background: white;
}

.box {
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: scroll;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

hr {
    border-bottom: 0;
    margin: 15px 0;
}

.sortable div .navBar {
    font-size: 10px;
    height: 50px;
    width: 550px;
    position: absolute;
    top: 8%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #bdbdbd;
}

.sortable {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 5px 10px;
    position:absolute ;
    list-style-type: none;
    text-align: center;
    transition: ease .2s;
}

    .sortable div {
        display: inline-block;
        position: relative;
        width: 550px;
        height: 300px;
        margin: 10px;
        padding: 5px;
        background: #ffffff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.12);
    }

h1 {
    margin: 20px auto;
    color: #90A4AE;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
}

.sortable div .content {
    font-size: 20px;
    height: 250px;
    width: 550px;
    position: relative;
    top: 58%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #78909C;
}

    .sortable div .content:hover {
        background: #F5F5F5;
    }

.sortable div h2 {
    font-size: 60px;
    height: 250px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #78909C;
}

.new-dash {
    border-radius: 5px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 2px;
    left: 5%;
    margin: 3px;
    color: #78909C;
}

.dashboards {
    border-radius: 3px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 2px;
    left: 17%;
    margin: 3px;
    color: #78909C;
}


#task-list {
    font-size: 20px;
    height: 250px;
    width: 550px;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #78909C;
    overflow-y: scroll;
}

.navBar {
    height: 50px;
    width: 550px;
    background-color: #bdbdbd;
}

.popup{
    font-size:20px; 
    z-index: -2;
    position: absolute;
    height: 500px;
    width: 700px;
    left:350px;
    top: 60px;
    overflow: hidden ;
    border: 2px solid black;
}

.widget {

}

.completed {
    text-decoration: line-through;
}
