@charset "utf-8";
/* CSS Document */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
}

a {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.theme_color {
    color: #002949;
}

.font_awesome {
    font-family: FontAwesome;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.top_space {
    margin-top: 15px;
}

.bottom_space {
    margin-bottom: 15px;
}

#wrapper {
    position: relative;
    height: 100%;
    padding-top: 68px;
}

#page-content-wrapper {
    height: 100%;
}

/*===== left panel start =====*/
.search_box_main {
    background: #f2f2f2;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    padding: 20px 5px 15px 5px;
    color: #333333;
}

.search_box span {
    background: #FFF;
    top: 0;
    color: #333333;
    font-size: 15px;
}

.search_checkbox {
    font-size: 12px;
    margin: 0 0 10px 0;
}

    .search_checkbox input[type="checkbox"] {
        margin-top: 3px;
    }

.toggle_btn {
    background: #959595;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 14px;
    left: 0;
    top: 0;
    display: table;
    vertical-align: middle;
    color: #FFF;
}

    .toggle_btn:hover {
        text-decoration: none;
        color: #FFF;
    }

    .toggle_btn:focus {
        color: #FFF;
        text-decoration: none;
    }

    .toggle_btn i {
        font-style: normal;
        display: block;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-size: 20px;
    }
/*===== left panel end =====*/

/*===== Top nave-bar section start =====*/
.tab-nave {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 0;
    padding-bottom: 15px;
    background: #FFF;
}

.tab-menu {
    font-size: 15px;
    color: #002949;
    margin-top: 18px;
}

    .tab-menu ul li {
        border-right: 1px solid #b4b4b4;
        padding: 0;
    }

        .tab-menu ul li:last-child {
            border-right: none;
        }

.navbar-default .navbar-nav > li > a {
    background: none;
    color: #002949;
    font-size: 15px;
    padding: 6px 10px 7px 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    color: #002949;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: none;
}

.tab-menu-dropdown {
    border: 1px solid #6a002e;
    border-radius: 3px;
}

    .tab-menu-dropdown li a {
        color: #3b3b3b !important;
    }
/*===== Top nave-bar section end =====*/

/*===== Top top action start =====*/
.top_action_header {
    background: #fafafa !important;
    padding: 10px 0;
}

.top_action_header_block {
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    color: #232323;
}

.top_action_header span {
    font-size: 14px;
    padding-right: 5px;
}

.show-hide {
    color: #636363;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 14px;
}

    .show-hide:hover, .show-hide:focus {
        color: #636363;
        text-decoration: none;
        outline: none;
    }

.top_action_content {
    background: #fafafa;
}

    .top_action_content ul {
        margin: 0;
        padding: 15px 0 0 0;
        border-top: 1px dashed #dfdfdf;
    }

        .top_action_content ul li {
            line-height: 32px;
            list-style: none;
            color: #3f3f3f;
            font-size: 14px;
        }

            .top_action_content ul li span {
                padding-right: 10px;
            }

            .top_action_content ul li label {
                font-weight: normal;
            }

.tastk_list li {
    line-height: 39px;
}

    .tastk_list li span {
        font-size: 18px;
        font-family: 'Open Sans Semibold', sans-serif;
    }
/*===== Top top action end =====*/

/*===== main folder view start =====*/
.folder_heading {
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    color: #232323;
    border-bottom: 1px dashed #dfdfdf;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.folder_main_box {
    width: 150px;
    float: left;
    padding: 0 30px 30px 0;
    color: #232323;
    font-family: 'Open Sans Semibold', sans-serif;
}

.folder_title {
    width: 100%;
    float: left;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans Bold', sans-serif;
    margin: 5px 0 3px 0;
}

.folder_info {
    width: 100%;
    float: left;
    font-size: 13px;
}
/*===== main folder view end =====*/

/*===== main list view start =====*/
.grid_main {
    float: left;
    width: 100%;
    position: relative;
}

.grid_show_form {
    padding-right: 456px !important;
    -webkit-transition: padding 1s;
    transition: padding 1s;
}

.grid_hide_form {
    width: 100% !important;
    -webkit-transition: padding 1s;
    transition: padding 1s;
}

.grid_table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
}

    .grid_table thead {
        background-color: #e7e7e7;
    }

    .grid_table thead, tbody {
        display: block;
    }

    .grid_table tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 35vh;
    }

    .grid_table td, .grid_table th {
        min-width: 250px;
        height: 25px;
        border: solid 1px #c0c0c0;
        padding: 5px;
        color: #000;
        position:relative;
    }

.grid_table td a, .grid_table th a, .grid_table td a:hover, .grid_table th a:hover {color: #000;text-decoration: none;}
.grid_table thead tr .header {background-image: url(../img/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
.grid_table thead tr .headerSortUp {background-image: url(../img/asc.gif);}
.grid_table thead tr .headerSortDown {background-image: url(../img/desc.gif);}

    .grid_drildown_arrow{position:absolute; top:-20px; left:25%;}
.grid_drildown > li > a{color:#002949; font-weight:600; font-size:13px; margin-bottom:3px;}
.grid_drildown > li > a:hover{color:#002949; background:none; text-decoration:underline !important;}


/*===== main list view end =====*/

.breadcrumb {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #3f3f3f;
    background: none;
    margin-top: 5px;
}

    .breadcrumb a {
        color: #3f3f3f;
    }

    .breadcrumb span {
        color: #7c0142;
    }

.tab_btn {
    border: 1px solid #d2d2d2;
    color: #4e4e4e;
    background: none;
}

.btn_menu {
    border: 1px solid #e9e9e9;
}

    .btn_menu li {
        padding: 5px 10px;
        border-bottom: 1px solid #e9e9e9;
        color: #4e4e4e;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }

        .btn_menu li:last-child {
            border: none;
        }



/*===== Right Form panel start =====*/
.right_form_main {
    position: absolute;
    right: -35px;
    top: 0;
    z-index: 10;
}

.right_form_box {
    background: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 425px;
    padding: 15px;
    display: none;
}

.form_heading {
    border-bottom: 1px dashed #dfdfdf;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

.show_form_btn {
    background: #f7f7f7;
    font-size: 14px;
    color: #575757;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #e8e8e8;
    border-right: 0;
    width: 130px;
    text-align: center;
    padding: 7px 0;
}

.hide_form_btn {
    background: none;
    font-size: 14px;
    color: #575757;
    border: none;
    text-align: right;
    padding: 0;
    display: block;
    float: right;
}

.right_form_scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
}

/*===== Right Form panel end =====*/



/*===== custom media query start =====*/
/*@media only screen 
and (max-width : 769px)
{
	.navbar-toggle{display: block;
      position: absolute;
      right: 0;
      top: 0;	
      float: none;}
	.navbar-collapse.collapse{display:none !important;}
}*/


@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        width: 100%;
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
            border-right: none !important;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
        width: 100%;
    }

    .collapsing {
        overflow: hidden !important;
    }
}
/*===== custom media query end =====*/


/* ===== popup start ===== */
.modal select, .modal input[type=text] {
    background: #fff;
    border: 1px solid #c6c6c6;
    padding: 5px;
    outline: none;
    margin: 10px 5px;
}

.modal input[type=checkbox],
.modal input[type=radio] {
    outline: none;
    margin: 0px 5px 0 0;
}

.modal textarea {
    background: #fff;
    border: 1px solid #c6c6c6;
    padding: 5px;
    outline: none;
    margin: 10px 5px;
    height: 170px;
    resize: none;
}

/**** Popup Css ****/

.modal-backdrop {
    background: #fff;
}

.modal-content {
    box-shadow: none;
    border: 2px solid #b6b6b6;
    border-radius: 0;
}

.modal-title {
    color: #002949;
    font-size: 16px;
    font-weight: 600;
}

.modal-lg {
    width: 700px;
}

.modal-body label {
    font-weight: normal;
    margin-top: 15px;
}

.modal-header {
    border-bottom: 1px solid #d4d4d4;
}

.modal-footer {
    border-top: 1px solid #d4d4d4;
    text-align: center;
}


.modal-subtitle {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
    padding: 15px 0;
}

.close {
    color: #002949;
    font-size: 20px;
    opacity: 1;
    font-weight: 700;
}

.checkbox-holder {
    margin-top: 17px;
}

.query-options {
    border-top: 1px solid #d4d4d4;
    padding: 10px 0 10px 25px;
}

    .query-options label {
        font-weight: normal;
    }

        .query-options label span {
            margin-left: 10px;
        }

.popup-form-box {
    height: 430px;
    overflow: auto;
}

.border-right-specific {
    border-right: 1px solid #d4d4d4;
}

.border-bottom-specific {
    border-bottom: 1px solid #d4d4d4;
}

.square-bullet-list {
    color: #002949;
    list-style-type: square;
    margin: 7px 0;
    padding: 0 0 0 20px;
}

    .square-bullet-list span {
        color: #373737;
        padding: 4px 0;
        display: block;
    }


.request-listing {
    height: 130px;
    overflow: auto;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}

.transfer-emp-listing {
    height: 260px;
    overflow: auto;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}

.request-emp-listing {
    height: 240px;
    overflow: auto;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}

.employee-box-list {
    list-style-type: none;
    margin: 7px 0;
    padding: 0;
}

    .employee-box-list label {
        display: block;
        margin: 12px 0;
    }


.emp-note {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    margin: 10px 0 5px;
}
/* ===== popup end ===== */

.location_panel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 30px;
}



.dril_heading {
    width: 100%;
    display: block;
    background: #f3f3f3;
    padding: 8px 9px;
}

.goHome, .goUp {
    color: #002949;
    display: block;
    width: 100%;
    padding: 8px 9px;
}

    .goHome:hover, .goUp:hover {
        color: #002949;
        text-decoration: none;
    }
