@charset "utf-8";
@import url("CustomFont.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'DP';
    font-size: 14px;
    height: 100%;
    word-wrap: break-word;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-wrapper {
    margin-left: 0px;
    margin-top: 20px;
}

#modalAddNewDashboard .modal-dialog {
    width: 441px !important;
}

#modalAddNewDashboard {
    z-index: 99999;
}

#openModal {
    z-index: 99999;
}

#openModal1 {
    z-index: 99999;
}

#modalDeleteDashboard {
    z-index: 99999;
}

.p-del-dash {
    word-wrap: break-word
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    text-align: center;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    background: white;
}

.box {
    margin-top: 120px;
    margin-left: 20px;
    overflow-y: hidden;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

hr {
    border-bottom: 0;
    margin: 15px 0;
}

.widget {
    overflow: auto;

    border: 1px solid grey;
}

.dashbar {
    display: flex;
    height: 45px;
    width: 100%;
    background-color: #D8D8D8;
    position: fixed;
    z-index: 9999;
    margin-left: -0.45%;
    margin-top: -2.6%;
}

.sortable div .navBar {
    font-size: 10px;
    height: 40px;
    width: 550px;
    position: absolute;
    top: 8%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #D8D8D8;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.sortable {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 50px;
    padding: 5px 10px;
    list-style-type: none;
    text-align: left;
    overflow-y: hidden;
    transition: ease .2s;
}

.widget {
    display: inline-block;
    position: relative;
    width: 550px;
    margin: 10px;
    padding: 5px;
    background: #ffffff;
}

/*    .sortable div {
        display: inline-block;
        position: relative;
        width: 550px;
        margin: 10px;
        padding: 5px;
        background: #ffffff;
    }*/




h1 {
    margin: 20px auto;
    color: #90A4AE;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
}

.sortable div .content {
    font-size: 20px;
    height: 260px;
    width: 550px;
    position: absolute;
    top: 58%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    border-bottom: 2px solid #292929;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 2px solid #292929;
    border-right: 2px solid #292929;
}


.sortable div h2 {
    font-size: 60px;
    height: 300px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #78909C;
}

    .sortable div h2:hover {
        background: #F5F5F5;
    }

.sortable div .content #data-grid {
    font-size: 20px;
    height: 260px;
    width: 550px;
    position: absolute;
    padding: 30px;
    padding-left: 20px;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #78909C;
    overflow-y: scroll;
}

.new-dash {
    height: 30px;
    margin: 6px;
    margin-left: 15px;
    border-color: #22415C;
    color: #292929;
    border-radius: 7px;
}

.dashboards {
    border-radius: 3px;
    height: 30px;
    width: 150px;
    position: absolute;
    top: 3px;
    left: 5%;
    margin: 3px;
    color: #78909C;
    border: 2px solid #22415C;
}

#task-list {
    font-size: 20px;
    height: 260px;
    width: 550px;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #78909C;
}

#widget-add {
    border-radius: 7px;
    border: 2px solid #22415C;
    height: 30px;
    width: 100px;
    position: absolute;
    top: 3px;
    left: 16%;
    margin: 3px;
    color: #292929;
}

.completed {
    text-decoration: line-through;
}


.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalDialog:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: #339999;
    }


.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: #fff;
}


    


.modalDialog1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
}

    .modalDialog1:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modalDialog1 > div {
        width: 70%;
        height: 70%;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        color: #78909C;
        overflow: scroll;
        background: #fff;
    }

.close {

    padding: 5px;
    color: #000;
    line-height: 25px;
    position: absolute;
    right: -31px;
    right: 19px;
    : center;
    top: 12px;
    width: 24px;
    text-decoration: none;
}
   

.pd {
    padding: 20px;
}


.p-10 li {
    padding: 2px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

.ml {
    margin-left: 8%;
}

.m-t1 {
    margin-top: 50px;
}
.m-t10 {
    margin-top: 10px;
}

.pdb {
    padding: 2px 30px 2px 30px;
    .mr li img
}

{
    margin-right: 27px;
}

.icons:hover {
    filter: grayscale(100%) sepia(100%) brightness(100);
    border-block-color: aliceblue;
    cursor: pointer;
}

.sortable div .navBar .nev-header {
    width: 442px;
    height: 46px;
    top: -15px;
    left: -15px;
    background-color: #D8D8D8;
    border-top: 2px solid #292929;
    border-left: 2px solid #292929;
    border-top-left-radius: 3px;
}

.sortable div .navBar .all-icons {
    padding-left: 34px;
    width: 108px;
    height: 46px;
    top: -81px;
    right: -427px;
    background-color: #D8D8D8;
    border-top: 2px solid #292929;
    border-right: 2px solid #292929;
    border-top-right-radius: 3px;
}

.sortable div h3 {
    margin-top: 7px;
    margin-left: 10px;
}



.modalDialog2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    
}

    .modalDialog2:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modalDialog2 > div {
        width: 70%;
        height: 70%;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        color: #78909C;
        overflow-y: scroll;
        background: #fff;
    }

.img1 {
    right:32%; position:relative; width:120px;
}

.img2 {
    right: 21%; position: relative; width: 120px;
}

.img3 {
   right: 17%; position: relative; width: 120px;
}
.img4 {
    right: 26%; position: relative; width: 120px;
}

.img11 {
   left:31%; position:relative; width:30px;
}
.img22 {
   left:20%; position:relative; width:30px;
}
.img33 {
    left: 16%;
    position: relative;
    width: 30px;
}
.img44 {
    left: 25%;
    position: relative;
    width: 30px;
}

.wibold {
    font-size:15px; font-weight:bold;
}